/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}



/*ESTILOS GENERALES*/
:root {
    --oscuro: rgba(12, 12, 12, 0.918);
    --claro: #fafafa;
    --apricot: #fccfa6;
    --neonMagenta: #ce6c9d;
    --colorMenu: rgb(43, 38, 38);
}

body {
    background-color: var(--neonMagenta);
    scroll-behavior: smooth;
    line-height: 1.5;
}

p {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--claro);

    margin-bottom: 0.625rem;
}

.p-oscuro {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--oscuro);
    text-align: center;

    margin-bottom: 0.625rem;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.069rem;
    color: var(--apricot);
}

h2 {
    font-size: 1.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.069rem;
    color: var(--neonMagenta);
}

h3 {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--oscuro);
}

h4 {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--claro);
}

.degradado-titulo {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.069rem;
    background-color: var(--apricot);
    background-image: linear-gradient(90deg, var(--apricot) 26%, var(--neonMagenta));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.degradado {
    background-image: linear-gradient(90deg, var(--apricot), var(--claro));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.negrita {
    font-weight: 600;
}

.destacado {
    color: var(--apricot);
    font-weight: 600;
}

.boton {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--neonMagenta);
    background-color: var(--claro);
    padding: 0.625rem 1rem 0.625rem 1rem;
    border-radius: 1.563rem;

    margin-top: 0.625rem;
    transition: background-color .2s linear, color .2s linear;
}

.boton:hover {
    background-color: var(--apricot);
    color: var(--neonMagenta);
}

@media screen and (min-width: 992px) {
    .boton {
        font-size: 0.90rem;
    }
}

.separador-top {
    position: relative;
}

.custom-shape-divider-bottom-1669428686 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669428686 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 13px;
}

.custom-shape-divider-bottom-1669428686 .shape-fill {
    fill: #0C0C0CEA;
}

.separador-bottom {
    position: relative;
}

.custom-shape-divider-top-1669428739 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669428739 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 13px;
}

.custom-shape-divider-top-1669428739 .shape-fill {
    fill: #0C0C0CEA;
}

@media screen and (min-width: 992px) {
    .custom-shape-divider-bottom-1669428686 svg {
        height: 18px;
    }

    .custom-shape-divider-top-1669428739 svg {
        height: 18px;
    }
}



/*COMPONENTE MENÚ*/
.navbar {
    background-color: var(--claro) !important;
}

.navbar-nav {
    text-align: center;
}

.dropdown-menu {
    text-align: center;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    color: var(--oscuro);
    font-size: 1.1rem;
}

.nav-link:hover {
    color: var(--neonMagenta);
}

.dropdown-item {
    font-family: 'Montserrat', sans-serif;
    color: var(--oscuro);
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-item:hover {
    background-color: var(--neonMagenta);
}

.dropdown-item:active {
    background-color: var(--apricot);
}



/*COMPONENTE PORTADA*/
.portada {
    width: 100%;
    height: auto;
}

.banner {
    background-image: url(../assets/fotos/twice-banner-mobile.jpg);

    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

/*TABLET*/
@media screen and (min-width: 576px) {
    .banner {
        background-image: url(../assets/fotos/twice-banner-tablet.jpg);
        background-position: top;
    }
}

/*DESKTOP*/
@media screen and (min-width: 992px) {
    .banner {
        background-image: url(../assets/fotos/twice-banner-desktop.jpg);
        height: 80vh;
        margin-bottom: 50px;
        height: 100vh;
    }

}



/*COMPONENTE PASTILLA DE CONTENIDO (acerca de)*/
.acerca-de {
    width: 90%;
    height: auto;

    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.acerca-de h1 {
    margin-top: 3.3rem;
    margin-bottom: 1.25rem;
    text-align: left;
}

.acerca-de>p:last-of-type {
    margin-bottom: 20px;
}

.numeros-e-iconos {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
    padding-bottom: 100px;
}

.numeros-e-iconos>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
}

.numeros-e-iconos>div>img {
    width: 64px;
    height: auto;
}

.numeros-e-iconos span {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.069rem;
    background-image: linear-gradient(90deg, var(--apricot) 50%, var(--claro));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.numeros-e-iconos p {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.060rem;
    color: var(--claro);
}

/*TABLET*/
@media screen and (min-width: 576px) {
    .acerca-de {
        width: 80%;
    }

    .acerca-de h1 {
        text-align: center;
        margin-top: 3.875rem;
    }

    .numeros-e-iconos {
        grid-template-columns: 1fr 1fr;
    }

}

/*DESKTOP*/
@media screen and (min-width: 992px) {
    .acerca-de {
        width: 65%;
        max-width: 1100px;
    }

    .acerca-de h1 {
        margin: 0 0 1.875rem 0;
    }

    .acerca-de p {
        font-size: 1.1rem;
    }

    .numeros-e-iconos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



/*COMPONENTE CAROUSEL*/
.carrusel-fondo {
    background-color: var(--oscuro);
    padding-top: 100px;
    padding-bottom: 100px;
}

.carrusel {
    width: 90%;
}

.carousel {
    width: 100% !important;
}

/*TABLET*/
@media screen and (min-width: 576px) {
    .carrusel {
        width: 80%;
    }
}

/*DESKTOP*/
@media screen and (min-width: 992px) {
    .carousel {
        width: 45% !important;
    }

    .carrusel-fondo {

        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1366' height='768' preserveAspectRatio='none' viewBox='0 0 1366 768'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath3181%26quot%3b)' fill='none'%3e%3ccircle r='21.26' cx='1322.75' cy='293.11' fill='url(%23SvgjsLinearGradient3182)'%3e%3c/circle%3e%3ccircle r='67.665' cx='392.82' cy='459.77' fill='url(%23SvgjsLinearGradient3183)'%3e%3c/circle%3e%3ccircle r='27.735' cx='615.47' cy='169.63' fill='url(%23SvgjsLinearGradient3184)'%3e%3c/circle%3e%3ccircle r='66.575' cx='259.59' cy='611.56' fill='url(%23SvgjsLinearGradient3185)'%3e%3c/circle%3e%3ccircle r='24.02' cx='112.22' cy='72.46' fill='url(%23SvgjsLinearGradient3186)'%3e%3c/circle%3e%3ccircle r='33.675' cx='939.65' cy='359.38' fill='url(%23SvgjsLinearGradient3187)'%3e%3c/circle%3e%3ccircle r='42.175' cx='1029' cy='68.13' fill='url(%23SvgjsLinearGradient3188)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath3181'%3e%3crect width='1366' height='768' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='1280.23' y1='293.11' x2='1365.27' y2='293.11' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3182'%3e%3cstop stop-color='rgba(206%2c 108%2c 157%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(252%2c 207%2c 166%2c 0.61)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='257.49' y1='459.77' x2='528.1500000000001' y2='459.77' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3183'%3e%3cstop stop-color='rgba(206%2c 108%2c 157%2c 0.85)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(252%2c 207%2c 166%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='560' y1='169.63' x2='670.94' y2='169.63' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3184'%3e%3cstop stop-color='rgba(252%2c 207%2c 166%2c 0.6588235294117647)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(206%2c 108%2c 157%2c 0.96)' offset='0.89'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='126.43999999999997' y1='611.56' x2='392.74' y2='611.56' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3185'%3e%3cstop stop-color='rgba(206%2c 108%2c 157%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(252%2c 207%2c 166%2c 0.61)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='64.18' y1='72.46' x2='160.26' y2='72.46' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3186'%3e%3cstop stop-color='rgba(206%2c 108%2c 157%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(252%2c 207%2c 166%2c 0.61)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='872.3' y1='359.38' x2='1007' y2='359.38' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3187'%3e%3cstop stop-color='rgba(252%2c 207%2c 166%2c 0.6588235294117647)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(206%2c 108%2c 157%2c 0.96)' offset='0.89'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='944.65' y1='68.13' x2='1113.35' y2='68.13' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3188'%3e%3cstop stop-color='rgba(206%2c 108%2c 157%2c 0.85)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(252%2c 207%2c 166%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        background-repeat: repeat;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}



/*COMPONENTE ACORDEÓN (extra)*/
.acordeón {
    padding: 150px 0 150px 0;
    width: 90%;
    margin: 0 auto 0 auto;
}

.accordion-button {
    background-color: var(--claro);
}

.accordion-button:not(.collapsed) {
    background-color: var(--apricot);
}

.accordion-body {
    background-color: var(--oscuro);
}

.accordion-item {
    border: var(--bs-accordion-border-width) solid var(--neonMagenta);
}

/*TABLET*/
@media screen and (min-width: 576px) {
    .acordeón {
        width: 80%;
    }
}

/*DESKTOP*/
@media screen and (min-width: 992px) {
    .acordeón {
        width: 65%;
        max-width: 1100px;
    }
}



/*COMPONENTE PASTILLA DE CONTENIDO (elemento embebido)*/
.video {
    width: 100%;
    background: rgb(12, 12, 12);
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.9192051820728291) 42%, #ce6c9d 100%);
    padding-top: 100px;
    padding-bottom: 100px;
}

.video h1 {
    text-align: center;
}

.video p {
    color: var(--apricot);
    font-weight: 500;
}

.contenedor-video {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;

    padding-top: 50px;
}

.contenedor-video>div {
    width: 90%;
    margin: 0 auto 0 auto;
}

.video iframe {
    max-width: 630px;
    width: 100%;
    height: 350px;
    padding-bottom: 40px;
    margin: 0 auto 0 auto;
}

/*TABLET*/
@media screen and (min-width: 576px) {
    .video h2 {
        text-align: center;
    }

    .video p {
        text-align: center;
    }
}

/*DESKTOP*/
@media screen and (min-width: 992px) {
    .contenedor-video {
        grid-template-columns: 1fr 1fr;

        width: 80%;
        margin: 0 auto 0 auto;
        align-items: center;
        gap: 2%;
    }

    .contenedor-video div {
        margin-right: 0;
    }

    .video h2 {
        text-align: left;
    }

    .video p {
        text-align: left;
    }
}



/*COMPONENTE CARDS*/
.fondo-degradado {
    width: 100%;
    background: var(--neonMagenta);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='1500' preserveAspectRatio='none' viewBox='0 0 400 1500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1036%26quot%3b)' fill='none'%3e%3cpath d='M348.373%2c77.008C358.608%2c77.305%2c369.533%2c75.043%2c374.989%2c66.379C380.744%2c57.24%2c379.518%2c45.501%2c374.092%2c36.163C368.694%2c26.872%2c359.112%2c20.932%2c348.373%2c20.571C336.945%2c20.187%2c324.93%2c24.279%2c319.475%2c34.328C314.198%2c44.049%2c318.102%2c55.75%2c324.303%2c64.909C329.699%2c72.879%2c338.752%2c76.729%2c348.373%2c77.008' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-7.4546157259547305 117.01421906430147L-3.264484200911032 196.96669143321853 76.68798816800603 192.77655990817482 72.49785664296233 112.82408753925777z' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M192.7375922506729 308.6427691228476L150.26904813049032 395.7161882787378 237.3424672863805 438.18473239892035 279.81101140656307 351.11131324303017z' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M57.595%2c696.972C80.925%2c695.37%2c97.729%2c677.513%2c109.799%2c657.484C122.407%2c636.561%2c133.481%2c611.724%2c121.939%2c590.195C109.949%2c567.83%2c82.902%2c558.238%2c57.595%2c560.111C35.184%2c561.77%2c19.833%2c579.612%2c7.877%2c598.639C-5.24%2c619.514%2c-19.831%2c643.621%2c-8.707%2c665.623C3.116%2c689.006%2c31.455%2c698.767%2c57.595%2c696.972' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M97.261%2c1142.165C124.351%2c1141.129%2c152.478%2c1133.828%2c166.196%2c1110.445C180.049%2c1086.832%2c173.743%2c1058.088%2c160.711%2c1034.012C146.875%2c1008.449%2c126.282%2c984.718%2c97.261%2c983.087C65.757%2c981.317%2c36.2%2c998.959%2c20.129%2c1026.114C3.753%2c1053.783%2c0.745%2c1089.317%2c18.542%2c1116.094C34.941%2c1140.767%2c67.657%2c1143.298%2c97.261%2c1142.165' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M190.56005442485366 1132.9247849128674L209.3512956720338 1208.2923370245298 284.71884778369633 1189.5010957773497 265.9276065365161 1114.1335436656873z' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-59.255541152157726 431.0060485164242L27.670905359826783 469.7081960154979 66.37305285890048 382.78174950351337-20.553393653084036 344.07960200443966z' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1036'%3e%3crect width='400' height='1500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: repeat;
    background-size: contain;
    padding-top: 100px;
    padding-bottom: 100px;
}

.tarjetas h1 {
    text-align: center;
    margin-bottom: 4rem;
}

.card-body>h4 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.060rem;
    color: var(--neonMagenta);
}

.btn-primary {
    color: var(--oscuro);
    background-image: linear-gradient(130deg, var(--neonMagenta) 10%, var(--apricot));

    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    transition: color 0.2s linear;
}

.btn-primary:hover {
    color: var(--claro);
    background-image: linear-gradient(130deg, var(--oscuro) 10%, var(--oscuro));
}

.card {
    box-shadow: 0 0 40px rgba(71, 70, 70, 0.192);
}

/*TABLET*/
@media screen and (min-width: 576px) {
    .fondo-degradado {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='800' height='1500' preserveAspectRatio='none' viewBox='0 0 800 1500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1034%26quot%3b)' fill='none'%3e%3cpath d='M360.217%2c972.23C423.058%2c973.377%2c477.573%2c932.884%2c509.098%2c878.511C540.732%2c823.949%2c546.537%2c757.769%2c516.808%2c702.146C485.319%2c643.23%2c427.016%2c599.261%2c360.217%2c599.959C294.424%2c600.646%2c239.147%2c646.777%2c209.189%2c705.358C181.818%2c758.88%2c190.851%2c820.925%2c220.459%2c873.243C250.594%2c926.493%2c299.041%2c971.114%2c360.217%2c972.23' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M680.633%2c606.851C732.618%2c606.536%2c772.108%2c564.602%2c796.332%2c518.605C818.731%2c476.074%2c822.085%2c425.644%2c797.96%2c384.068C773.922%2c342.643%2c728.494%2c320.981%2c680.633%2c319.217C629.056%2c317.316%2c573.476%2c330.346%2c547.303%2c374.829C520.854%2c419.78%2c536.497%2c474.8%2c562.483%2c520.02C588.583%2c565.439%2c628.25%2c607.168%2c680.633%2c606.851' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M708.681%2c1439.033C754.198%2c1436.339%2c789.51%2c1404.208%2c812.537%2c1364.853C835.853%2c1325.004%2c849.165%2c1277.073%2c827.208%2c1236.46C804.345%2c1194.171%2c756.745%2c1173.754%2c708.681%2c1172.757C658.604%2c1171.718%2c607.711%2c1188.788%2c581.319%2c1231.359C553.61%2c1276.054%2c553.604%2c1333.725%2c581.096%2c1378.553C607.468%2c1421.554%2c658.325%2c1442.014%2c708.681%2c1439.033' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M570.4350851975048 750.2557151691074L708.1974857072696 767.170811024629 725.1125815627912 629.4084105148642 587.3501810530264 612.4933146593426z' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M87.8483851259219 214.953388035079L-54.624061170959536 314.71366891933343 45.13621971329489 457.18611521621483 187.6086660101763 357.42583433196046z' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M753.165%2c709.376C831.197%2c711.822%2c889.933%2c645.465%2c926.734%2c576.613C961.14%2c512.243%2c966.433%2c437.439%2c933.268%2c372.421C896.623%2c300.58%2c833.812%2c236.135%2c753.165%2c236.339C672.769%2c236.542%2c608.941%2c300.62%2c574.633%2c373.328C545.008%2c436.11%2c564.9%2c504.988%2c597.47%2c566.294C632.914%2c633.009%2c677.656%2c707.009%2c753.165%2c709.376' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M195.061%2c1305.016C235.879%2c1306.001%2c279.864%2c1298.163%2c301.568%2c1263.579C324.375%2c1227.238%2c317.015%2c1181.207%2c296.362%2c1143.6C274.792%2c1104.323%2c239.843%2c1071.239%2c195.061%2c1069.644C147.79%2c1067.96%2c102.205%2c1093.914%2c80.438%2c1135.909C60.075%2c1175.196%2c72.273%2c1222.014%2c97.101%2c1258.644C118.826%2c1290.696%2c156.351%2c1304.082%2c195.061%2c1305.016' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1034'%3e%3crect width='800' height='1500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    }
}

/*DESKTOP*/
@media screen and (min-width: 992px) {
    .fondo-degradado {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1366' height='768' preserveAspectRatio='none' viewBox='0 0 1366 768'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1058%26quot%3b)' fill='none'%3e%3cpath d='M359.33670460264057-1.2599255684653445L234.49212153004157 0.9192447350031081 236.67129183351005 125.76382780760208 361.515874906109 123.58465750413363z' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1135.8456576722692 609.0925444036883L1327.968645360278 622.5270924337731 1341.4031933903627 430.40410474576424 1149.280205702354 416.96955671567946z' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M653.5797640430073 404.9127799902569L729.6815364938966 216.55428347538256 541.3230399790222 140.45251102449333 465.221267528133 328.8110075393677z' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M522.693%2c231.402C551.694%2c231.699%2c569.907%2c203.671%2c584.224%2c178.448C598.289%2c153.67%2c610.333%2c125.18%2c597.399%2c99.793C583.49%2c72.492%2c553.332%2c57.378%2c522.693%2c57.67C492.551%2c57.957%2c463.826%2c74.199%2c450.415%2c101.194C438.159%2c125.863%2c449.937%2c153.128%2c463.306%2c177.212C477.246%2c202.325%2c493.972%2c231.108%2c522.693%2c231.402' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-21.320272538643927 465.6037384470512L58.47599981003622 560.7012326942167 153.5734940572017 480.9049603455366 73.77722170852158 385.8074660983711z' fill='rgba(252%2c 207%2c 166%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1058'%3e%3crect width='1366' height='768' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    }

}



/*COMPONENTE VENTANA MODAL*/
.modal-header>h1 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.060rem;
    color: var(--neonMagenta);
}

.modal-body>.p-oscuro:nth-child(odd) {
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
}

.modal-body>.p-oscuro:nth-child(even) {
    text-align: left;
}

/*DESKTOP*/
@media screen and (min-width: 992px) {
    .modal {
        --bs-modal-width: 600px
    }
}



/*COMPONENTE FOOTER*/
ul {
    padding-left: 0;
}

.footer-anclas {
    background-color: var(--oscuro);

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-anclas ul {
    list-style-type: none;
}

/*Primera lista*/
.footer-anclas ul:first-of-type {
    display: grid;
    grid-template-columns: 1fr;
}

.footer-anclas ul:first-of-type a {
    text-decoration: none;

    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.060rem;

    color: var(--claro);
    background-image: linear-gradient(90deg, var(--colorMenu), var(--neonMagenta));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    transition: color .2s linear;
}

.footer-anclas ul:first-of-type a:link {
    background-image: linear-gradient(90deg, var(--colorMenu), var(--neonMagenta));
}

.footer-anclas ul:first-of-type a:visited {
    background-image: linear-gradient(90deg, var(--colorMenu), var(--neonMagenta));
}

.footer-anclas ul:first-of-type a:hover {
    color: var(--claro);
    background-image: linear-gradient(90deg, var(--claro), var(--claro))
}

.footer-anclas ul:first-of-type li {
    margin-top: 1.2rem;
}

.footer-anclas ul:first-of-type li:first-child {
    padding-top: 2.5rem;
}

.footer-anclas ul:first-of-type li:last-child {
    padding-bottom: 2.5rem;
}

/*Segunda lista*/
.footer-anclas ul:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 40px;

    padding-bottom: 60px;
}

.footer-anclas ul:nth-child(2) img {
    transform: scale(1);
    transition: all .3s ease-in-out;
}

.footer-anclas ul:nth-child(2) img:hover {
    transform: scale(1.1);
}

.footer-anclas div p {
    font-size: 0.8rem;
    color: var(--claro);
    padding-bottom: 0.625rem
}

footer>address {
    font-style: normal;
    font-size: 0.69rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--oscuro);
    background-color: var(--claro);

    background-image: linear-gradient(90deg, var(--apricot) 18%, var(--neonMagenta), var(--oscuro));
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
}

/*TABLET*/
@media screen and (min-width: 576px) {
    .footer-anclas ul:nth-child(2) {
        grid-template-columns: 1fr 1fr;

        column-gap: 80px;
        row-gap: 80px;
    }

    .footer-anclas ul:nth-child(2) li:nth-child(odd) {
        justify-self: end;
    }

    .footer-anclas ul:nth-child(2) li:nth-child(even) {
        justify-self: start;
    }
}

/*DESKTOP*/
@media screen and (min-width: 992px) {
    .footer-anclas ul:nth-child(2) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-anclas ul:nth-child(2) li:nth-child(odd) {
        justify-self: center;
    }

    .footer-anclas ul:nth-child(2) li:nth-child(even) {
        justify-self: center;
    }

}